h1 {
    color: aqua;
}

body {
    background-color: pink;
}

#b1 {
    color: aquamarine;
    background-color: brown;
}

.myclass {
    background-color: blueviolet;
}

#box {
    height: 200px;
    width: 100px;
    background-color: aqua;
    text-align: center;
    border: solid violet;
}

.dark {
    color: aliceblue;
    background-color: black;
}

.light {
    color: black;
    background-color: wheat;
}